*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.html{
    font-size: 22px;
}
.container{
    background-color: rgb(255, 253, 253);
    height: 15vh;
    width: 100%;
}
   
.box{
    background-color: rgb(5, 94, 195);
    height: 5.05rem;
    width: 3.64rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.dot{
    display: flex;
    height: 0.5rem;
    width: 1.10rem;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    gap: 0.23rem;
    

    

}


.one{
    height:0.32rem;
    width:0.32rem;
    border-radius: 50%;
    background-color: rgb(253, 249, 249);
    display: flex;
    
    
}

.leftheader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.69rem;
}

.middleheader{
    display: flex;;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.82rem;
    font-size: 0.69rem;
    font-weight:lighter;
}

.rightheader{
    display: flex;
    gap: 0.99rem;
    padding-right: 1.82rem;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    

    
}

#image{
  height: 3rem;
  width: 12.1rem;
}

#searc{
    height:2.8rem;
    width: 2.8rem;
    padding-top: 0.2rem;
}

.registration{
    display: flex;
    

    
    
}

#formbutton{
    background-color: rgb(0, 8, 255);
    color: white;
    display: flex;
    border-radius: 5%;
    height: 2.64rem;
    width: 8.55rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.69rem;
    text-decoration: none;

    
}
.contcontainer{
    background-color: rgb(253, 252, 252);
    height: 40%;
    width: 100%;
    align-items: center;
    padding-top: 8%;

}

.conttcontainer{
    display: none;
}
#texth{
    display: flex;
    justify-content: center;
    color: rgb(44, 44, 49);
    font-size: 1.91rem;
       
}
.thirdcontainer{
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 2.8rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

img{
    height:27.28rem;
    width: 27.28rem;
    display: flex;
   
    

}
.details{

    height: 26.4rem;
    width: 26.4rem;
    font-size: 1.10rem;
    display: flex;
    gap: 2.73rem;
    
    flex-direction: column;
    padding-top: 2.28rem;
}

#highlight{
    font-weight: bold;
}

.fourthcontainer{
    
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content:center;
    
    gap: 2.28rem;
    
}

.nexttext{

}


#pict{
    height: 3.19rem;
    width: 90%;
    display: flex;
    align-content:space-between;
    
    
}

#buto{
    display: flex;
    border: none;
    
    
}
#pict
{
    opacity: 0.5;
}
#pict:hover{
    opacity: 1;
}

#span{
    font-weight: bold;
    color: rgb(44, 49, 52);
}

.fifthcontainer{
    height: 22.73rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* gap: 10px; */
    /* background: #000; */

}

.faqbox{
    height: 22.05rem;
    width: 100%;
    background-color: rgb(40, 90, 190);
    position: relative;
    z-index:1;
    top: 1.37rem;
    left: 2.73rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.82rem;
    /* gap: 1.5rem; */
}
.video iframe{
    height: 21.82rem;
    width: 36.37rem;
    display: flex;
    border-radius: 0.5rem;
    position: relative;
    right: 1.37rem;
    
}
.video{
    /* display: flex;
    background-color: aqua;
    justify-content: center;
    height: 400px;
    width: 684px;
    position: relative; */
   
}

.toggle{
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: 2.28rem;
    /* padding-left: 60px; */
    /* align-items: center;  */
    background-color: white;
     justify-content: center;  
    /* justify-items: center; */
    
    
    
    
   
}
.toggle button{
    border: none;
    
    display: flex;
    gap: 0.91rem;
    padding-left: 0.91rem;

}
.toggle img{
    height: 1rem;
    width: 1.23rem;
    display: flex;
    
}

#para{
    font-size: 0.8rem;
    color: rgb(31, 38, 37);
}
.toggle-box{
    
    display: flex;
    align-items: center;  
    /* justify-content: center; */
    gap: 1.5rem;
    flex-direction: column;
    padding-top: 1.37rem;
    /* background-color: yellowgreen; */
    border: none;
}

.faq{
    font-weight: bold;
    font-size:xx-large;
    padding-left: 2.73rem;
    padding-top: 1.82rem;
    color: aqua;
    /* background-color: yellow; */

}

.among{
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
    height: 12%;
    width: 100%;
    align-items: center;
    padding-top:4%;
}

#amongtext{
    font-size: 1.64rem;
    color: rgb(32, 41, 41);
}

.sixthcontainer{

    display: flex;
    gap: 4.55rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.nexttext{
    height: 25rem;
    width: 22.96rem;
    font-size: 1rem;
    display: flex;
    gap: 2.73rem;
    
    margin-top: 2.28rem;
    
}

.sixthcontainer img{
    height: 15.91rem; 
    width: 22.73rem; 
    display: flex;
    
   
}

#seconddetails{
    word-spacing: 0.09rem;
    line-height: 1.46rem;
    display: flex;
    

}

.sectioncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rebeccapurple; */
    /* height: 20vh; */
    /* border: solid; */
}

.counternumbers {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 6.82rem;
    /* width: 100%; */
    
    
    
}

.numbers {
    display: flex;
    
    font-size: 3.19rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px #005aac;
    position: relative;
    /* justify-content: space-evenly; */
    
    
}

.tags{
    font-size: 0.91rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13.64rem;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-items: center;  */
    z-index:1;
    top: -4.09rem;
    position: relative;
    height: 1.82rem;
    width: 100%;
    background-color: white;

}

.section{
    display: flex;
    
    flex-direction: column;
   
}

.blog{
    height: 3.64rem;
    width: 100%;
    display: flex;
    gap: 0.45rem;
    
    
}

.blogtext{
    font-weight: bold;
    font-size: 1.36rem;
    padding-left: 6.60rem;
    display: flex;
}

.newdot{
    background-color: rgb(26, 120, 168);
    height: 0.37rem;
    width: 0.37rem;
    border-radius: 50%;
    margin-top: 0.68rem;
    
    
}

.seventhcontainer{
        
        /* height: 800px; */
        width: 100%;
        
}

.top{
    display: flex;
    gap: 1.60rem;
    justify-content: center;
    padding-top: 0.91rem;
    justify-items: center;
    
    
    

     
    

}

.mid{
    display: flex;
    gap: 1.60rem;
    justify-content: center;
    padding-top: 1.37rem;
    width: 100%;
    
    
    
    
    
}

.bottom{
    display: flex;
    gap: 1.60rem;
    justify-content: center;
    padding-top: 1.37rem;
    

}

#ftext{
   
    font-weight: bold;
    font-size: 1rem;
    
    
    
}

#stext{
    height: 2.73rem;
    width: 15.91rem;
    font-weight: bold;
    font-size: 1rem;
   
    
}

#ltext{
   
    font-weight: bold;
    font-size: 1rem;

}

.ekbox{
    background-color:rgb(69, 73, 74);
    height: 6.82rem;
    width: 15.91rem;
    color: white;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center; 
    margin-top: 1.32rem;
    padding-left: 0.91rem;
     word-spacing: 0.046rem;
    line-height: 1.36rem;
    

}

.dusrabox{
    background-color:rgb(69, 73, 74);
    height: 8.19rem;
    width: 15.91rem;
    color: white;
    display: flex;
    text-align: start;
     align-items: center; 
     /* justify-content: center; */ 
     padding-left: 0.91rem;
     word-spacing: 0.046rem;
    line-height: 1.36rem;
    
}

 .bx{ 
    
    background-color:rgb(69, 73, 74);
    height: 13.64rem;
    width: 15.91rem;
    color: white;
    display: flex;
    text-align: start;
     align-items: center; 
      justify-content: center;  
     padding-left: 0.91rem;
     word-spacing: 0.046rem;
    line-height: 1.36rem;
    padding-top: 6.82rem;
}

.eightcontainer{
     /* height: 800px; */
    width: 100%;
    
    display: flex;
    padding-top: 4.55rem;
    align-content: center;
    padding-left: 12.82rem;
    column-gap: 1.82rem;
    margin-bottom: 3.64rem;
    padding-bottom: 3.64rem;

    
    


   
}

.lefteight{
    width: 22%;
    display: flex;
    flex-direction: column;
}


.lefteight img{
    height: 3.19rem;
    width: 9.09rem;
}

.notess{
    word-spacing: 0.046rem;
    line-height: 1.37rem;
    text-align: center;
    font-weight: 550;
    font-size: .89rem;

}

.firsteight{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#our{
    font-size: 0.82rem;
    font-weight: 600;

}

#ftt{
    font-size: 0.82rem;
    color: #23bbe6;
    font-weight: 600;

}

.secondeight{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.contact{
    font-size: 0.82rem;
    font-weight: 600;
}




.email{
    font-size: 0.82rem;
    color: #23bbe6;
    font-weight: 600;

}

.addresss{
    font-size: 0.82rem;
    color: #23bbe6;
    font-weight: 600;

}

.tel{
    font-size: 0.82rem;
    color: #23bbe6;
    font-weight: 600;


}

.social{
    font-size: 0.82rem;
    color: #23bbe6;
    font-weight: 600;

}

.spannew{
    color: black;
}




.righteight{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ourcompany{
    font-size:0.82rem;
    font-weight: 600;
}


.lastline{
    font-size:0.82rem;
    color: #23bbe6;
    font-weight: 600;
}




@media (max-width:1268px) {
    .middleheader{
        flex-wrap: wrap;
    }

    .boxesss{
        display: none;
    }

    .conttcontainer{
        display: none;
    }
    
    
}
    






@media (max-width:1024px){

html{
    font-size: 20px;
    
}

.middleheader{
    display: none;
}

#image{
    height: 11.5rem;
    width: 34rem;
    justify-content: center;
    

}

.box{
    display: none;
}

.boxesss{
    display: flex;
    
    background-color: rgb(255, 255, 255);
    height: 5.05rem;
    width: 3.64rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dot{
    display: flex;
    height: 0.5rem;
    width: 1.10rem;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    gap: 0.23rem;  

}


.one{
    height:0.32rem;
    width:0.32rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    
    
}

.rightheader{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.header{
    display: flex;
}

.conttcontainer{
    display: flex;
    font-size: medium;
    height: 80%;
    width: 100%;
    align-items: center;
    padding-top: 10%;
    text-align: center;
}

.contcontainer{
    display: none;
}

#texthh{
    display: flex;
    justify-content: center;
    color: rgb(44, 44, 49);
    font-size: 2.41rem;

}

.thirdcontainer{
    display: flex;
    
    flex-wrap: wrap-reverse;
}

.img{
    height:37.28rem;
    width: 37.28rem;
    display: flex;
}

.details{

    height: 36.4rem;
    width: 36.4rem;
    font-size: 1.70rem;
    display: flex;
    gap: 2.73rem;
    
    flex-direction: column;
    padding-top: 2.28rem;
}

.fourthcontainer{
    display: flex;
    
    
}
.fifthcontainer{
    flex-wrap: wrap;
}

.video iframe{
    height: 28.82rem;
    width: 43.50rem;
    display: flex;
    margin-left: 4.1rem;
    border-radius: 0.5rem;
    margin-top: 1.2rem;

    
    
    
}

.among{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 62%;
    width: 100%;
    align-content: center;
    padding-top:75%;

}

.sixthcontainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}

.tags{
    font-size: 0.91rem;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
    gap: 2.64rem;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-items: center;  */
    z-index:1;
    top: -4.09rem;
    position: relative;
    height: 1.82rem;
    width: 100%;
    background-color: white;

}

.section{
    flex-wrap: wrap;
}

.eightcontainer{
    flex-wrap: wrap;
}




























}
