*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.container{
    background-color: rgb(255, 253, 253);
    height: 15vh;
    width: 100%;
}
   
.box{
    background-color: rgb(5, 94, 195);
    height: 111px;
    width: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.dot{
    display: flex;
    height: 10px;
    width: 24px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    gap: 5px;
    

    

}


.one{
    height:7px;
    width:7px;
    border-radius: 50%;
    background-color: rgb(253, 249, 249);
    display: flex;
    
    
}

.leftheader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 37px;
}

.middleheader{
    display: flex;;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    font-size: 15px;
    font-weight:lighter;
}

.rightheader{
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    

    
}

#image{
  height: 65px;
  width: 265px;
}

#searc{
    height:60px;
    width: 60px;
    padding-top: 4px;
}

.registration{
    display: flex;
    

    
    
}

#formbutton{
    background-color: rgb(0, 8, 255);
    color: white;
    display: flex;
    border-radius: 5%;
    height: 58px;
    width: 188px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;

    
}
.contcontainer{
    background-color: rgb(253, 252, 252);
    height: 40%;
    width: 100%;
    align-items: center;
    padding-top: 8%;

}
#texth{
    display: flex;
    justify-content: center;
    color: rgb(44, 44, 49);
    font-size: 42px;
       
}
.thirdcontainer{
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

img{
    height: 600px;
    width: 600px;
    display: flex;
   
    

}
.details{

    height: 580px;
    width: 580px;
    font-size: 24px;
    display: flex;
    gap: 60px;
    
    flex-direction: column;
    padding-top: 50px;
}

#highlight{
    font-weight: bold;
}

.fourthcontainer{
    
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content:center;
    
    gap: 50px;
    
}

.nexttext{

}


#pict{
    height: 70px;
    width: 90%;
    display: flex;
    align-content:space-between;
    
    
}

#buto{
    display: flex;
    border: none;
    
    
}
#pict
{
    opacity: 0.5;
}
#pict:hover{
    opacity: 1;
}

#span{
    font-weight: bold;
    color: rgb(44, 49, 52);
}

.fifthcontainer{
    height: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* gap: 10px; */
    /* background: #000; */

}

.faqbox{
    height: 485px;
    width: 100%;
    background-color: rgb(40, 90, 190);
    position: relative;
    z-index:1;
    top: 30px;
    left: 60px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    /* gap: 1.5rem; */
}
.video iframe{
    height: 480px;
    width: 800px;
    display: flex;
    border-radius: 0.5rem;
    position: relative;
    right: 30px;
    
}
.video{
    /* display: flex;
    background-color: aqua;
    justify-content: center;
    height: 400px;
    width: 684px;
    position: relative; */
   
}

.toggle{
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: 50px;
    /* padding-left: 60px; */
    /* align-items: center;  */
    background-color: white;
     justify-content: center;  
    /* justify-items: center; */
    
    
    
    
   
}
.toggle button{
    border: none;
    
    display: flex;
    gap: 20px;
    padding-left: 20px;

}
.toggle img{
    height: 22px;
    width: 27px;
    display: flex;
    
}

#para{
    font-size: 17px;
    color: rgb(31, 38, 37);
}
.toggle-box{
    
    display: flex;
    align-items: center;  
    /* justify-content: center; */
    gap: 1.5rem;
    flex-direction: column;
    padding-top: 30px;
    /* background-color: yellowgreen; */
    border: none;
}

.faq{
    font-weight: bold;
    font-size:xx-large;
    padding-left: 60px;
    padding-top: 40px;
    color: aqua;
    /* background-color: yellow; */

}

.among{
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
    height: 12%;
    width: 100%;
    align-items: center;
    padding-top:4%;
}

#amongtext{
    font-size: 36px;
    color: rgb(32, 41, 41);
}

.sixthcontainer{

    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.nexttext{
    height: 550px;
    width: 505px;
    font-size: 22px;
    display: flex;
    gap: 60px;
    
    margin-top: 50px;
    
}

.sixthcontainer img{
    height: 350px; 
    width: 500px; 
    display: flex;
    
   
}

#seconddetails{
    word-spacing: 2px;
    line-height: 32px;
    display: flex;
    

}

.sectioncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rebeccapurple; */
    /* height: 20vh; */
    /* border: solid; */
}

.counternumbers {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 150px;
    /* width: 100%; */
    
    
    
}

.numbers {
    display: flex;
    
    font-size: 70px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px #005aac;
    position: relative;
    /* justify-content: space-evenly; */
    
    
}

.tags{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-items: center;  */
    z-index:1;
    top: -90px;
    position: relative;
    height: 40px;
    width: 100%;
    background-color: white;

}

.section{
    display: flex;
    
    flex-direction: column;
   
}

.blog{
    height: 80px;
    width: 100%;
    display: flex;
    gap: 10px;
    
    
}

.blogtext{
    font-weight: bold;
    font-size: 30px;
    padding-left: 145px;
    display: flex;
}

.newdot{
    background-color: rgb(26, 120, 168);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-top: 15px;
    
    
}

.seventhcontainer{
        
        /* height: 800px; */
        width: 100%;
        
        
        
        
        

}

.top{
    display: flex;
    gap: 35px;
    justify-content: center;
    padding-top: 20px;
    justify-items: center;
    
    
    

     
    

}

.mid{
    display: flex;
    gap: 35px;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    
    
    
    
    
}

.bottom{
    display: flex;
    gap: 35px;
    justify-content: center;
    padding-top: 30px;
    

}

#ftext{
   
    font-weight: bold;
    font-size: 22px;
    
    
    
}

#stext{
    height: 60px;
    width: 350px;
    font-weight: bold;
    font-size: 22px;
   
    
}

#ltext{
   
    font-weight: bold;
    font-size: 22px;

}

.ekbox{
    background-color:rgb(69, 73, 74);
    height: 150px;
    width: 350px;
    color: white;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center; 
    margin-top: 29px;
    padding-left: 20px;
     word-spacing: 1px;
    line-height: 30px;
    

}

.dusrabox{
    background-color:rgb(69, 73, 74);
    height: 180px;
    width: 350px;
    color: white;
    display: flex;
    text-align: start;
     align-items: center; 
     /* justify-content: center; */ 
     padding-left: 20px;
     word-spacing: 1px;
    line-height: 30px;
    
}

 .bx{ 
    
    background-color:rgb(69, 73, 74);
    height: 300px;
    width: 350px;
    color: white;
    display: flex;
    text-align: start;
     align-items: center; 
      justify-content: center;  
     padding-left: 20px;
     word-spacing: 1px;
    line-height: 30px;
    padding-top: 150px;
}

.eightcontainer{
     /* height: 800px; */
    width: 100%;
    
    display: flex;
    padding-top: 100px;
    align-content: center;
    padding-left: 150px;
    column-gap: 40px;
    margin-bottom: 80px;
    padding-bottom: 80px;

    
    


   
}

.lefteight{
    width: 22%;
    display: flex;
    flex-direction: column;
}


.lefteight img{
    height: 70px;
    width: 200px;
}

.notess{
    word-spacing: 1px;
    line-height: 30px;
    text-align: center;
    font-weight: 550;
    font-size: 15px;

}

.firsteight{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#our{
    font-size: 18px;
    font-weight: 600;

}

#ftt{
    font-size: 18px;
    color: #23bbe6;
    font-weight: 600;

}

.secondeight{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.contact{
    font-size: 18px;
    font-weight: 600;
}



.email{
    font-size: 18px;
    color: #23bbe6;
    font-weight: 600;

}

.addresss{
    font-size: 18px;
    color: #23bbe6;
    font-weight: 600;

}

.tel{
    font-size: 18px;
    color: #23bbe6;
    font-weight: 600;


}

.social{
    font-size: 18px;
    color: #23bbe6;
    font-weight: 600;

}

.spannew{
    color: black;
}




.righteight{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ourcompany{
    font-size: 18px;
    font-weight: 600;
}


.lastline{
    font-size: 18px;
    color: #23bbe6;
    font-weight: 600;
}










@media (max-width:640px){
    .box{
        background-color: black;
    }
    .container{
        background-color: rgb(255, 253, 253);
        height: 7vh;
        width: 50%;
    }
       
    .box{
        background-color: rgb(5, 94, 195);
        height: 50px;
        width: 50px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    .dot{
        display: flex;
        height: 5px;
        width: 12px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        border-radius: 25%;
        gap: 2px;
        
    
        
    
    }
    
    
    .one{
        height:4px;
        width:4px;
        border-radius: 50%;
        background-color: rgb(253, 249, 249);
        display: flex;
        
        
    }
    
    .leftheader{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 18px;
    }
    
    .middleheader{
        display: flex;;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        font-size: 7px;
        font-weight:lighter;
    }
    
    .rightheader{
        display: flex;
        gap: 5px;
        padding-right: 10px;
    }
    
    .header{
        display: flex;
        justify-content:space-between;
        align-items:center;
    
        
    }
    
    #image{
      height: 32px;
      width: 120px;
    }
    
    #searc{
        height:30px;
        width: 30px;
        padding-top: 2px;
    }
    
    .registration{
        display: flex;
        
    
        
        
    }
    
    #formbutton{
        background-color: rgb(0, 8, 255);
        color: white;
        display: flex;
        border-radius: 5%;
        height: 29px;
        width: 160px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        text-decoration: none;
    
        
    }
    .contcontainer{
        background-color: rgb(253, 252, 252);
        height: 20%;
        width: 100%;
        align-items: center;
        padding-top: 4%;
    
    }
    #texth{
        display: flex;
        justify-content: center;
        color: rgb(44, 44, 49);
        font-size: 21px;
           
    }
    .thirdcontainer{
        display: flex;
        background-color: rgb(255, 255, 255);
        gap: 30px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    img{
        height: 300px;
        width: 300px;
        display: flex;
       
        
    
    }
    .details{
    
        height: 300px;
        width: 300px;
        font-size: 12px;
        display: flex;
        gap: 30px;
        
        flex-direction: column;
        padding-top: 25px;
    }
    
    #highlight{
        font-weight: bold;
    }
}